fastapi==0.116.2
httpx==0.28.1
uvicorn==0.36.0
pyotp==2.9.0
sqlalchemy[asyncio]==2.0.43
pydantic[email]==2.11.9
asyncpg==0.30.0
redis==6.4.0
qrcode==8.2
psutil==7.1.0
prometheus-client==0.23.1
pillow==11.3.0